.file-upload {
  max-width: 28rem;
  background-color: #00000044;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.upload-form {
  position: fixed;
  width: 90%;
  height: 90%;
  max-width: 30rem;
  max-height: 60rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  z-index: 1;
  pointer-events: all;
  overflow: auto;
  background-color: rgb(28, 72, 35);
  box-shadow: 0 0 1rem 0.25rem #00000099;
}

.lower-button-area {
  display: flex;
  justify-content: space-between;
}

h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.image-container {
  padding: 1rem;
  background-color: #00000099;
  margin-bottom: 1rem;
}

.upload-preview-image {
  width: 100%;
  height: auto;
}

.two-columns {
  position: relative;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.two-columns > label {
  margin-right: 0.5rem;
}

.two-columns > input {
  text-align: center;
}

.two-columns > label:not(:first-of-type) {
  margin-left: 1rem;
}