.image-card {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  outline: 10vmax solid #000000dd;
  gap: 0.5rem;
  max-width: calc(100% - 1rem);
  background-color: gray;
  padding: 1rem;
  transition: all 250ms ease;
  z-index: 1;
  overflow: auto;
  pointer-events: all;
}

input {
  margin-bottom: 0.5rem !important;
}

.preview-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: contain;
  grid-row-start: 1;
  grid-row-end: 4;
}

.image-label {
  left: 0;
  font-size: 0.75rem;
  padding: 0.25rem;
}

.image-label.file-name {
  top: 0;
  min-height: 1.5rem;
  background-color: #00000033;
  top: 0;
}

.dimensions-area {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 0.25rem; 
}

.dimensions-area > input {
  font-size: 1.25rem;
  width: 3rem;
}

.dimensions-area > select {
  font-size: 1.25rem;
  flex-grow: 1;
}

.edit-controls {
  display: flex;
  align-items:center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

button.image-save-button {
  background-color: green;
  outline: 4px solid orange;
  color: rgb(163, 255, 138);
  transition: all 250ms ease;
  min-width: 6rem;
}

button.image-save-button:disabled {
  outline: none;
  background-color: rgb(144, 243, 165);
  color: gray;
  pointer-events: none;
  opacity: 0.5;
}

select{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

h3 {
  font-size: 1.1rem;
}